<div class="container-fluid" ng-controller="dashboardController">

  <div class="dashboard-container">
    <div class="row">
      <show-widget ng-show="widgetsDisplayed.length != 0"></show-widget>
      <add-widget-button class="col-xs-6 col-sm-3 col-md-2"></add-widget-button>
    </div>
  </div>

  <widget-marketplace ng-show="widgetMarketplace == 'show'" class="alert alert-warning"> </widget-marketplace>

 <geochart>
   <div geochart id='regions_div' style='width: 900px; height: 500px;'></div>
 </geochart>

</div>
