<!-- <div ng-view> -->



<div class="container-fluid" ng-app="myApp">
  <div gridster>
      <ul>
          <li gridster-item row="item.position[0]" col="item.position[1]" size-x="item.size.x" size-y="item.size.y" ng-repeat="item in customItems"></li>
      </ul>
  </div>


  <!-- <div class="gridster">
    <ul class="gridster-ul">
      <li class="gridster-cell" data-row="4" data-col="2" data-sizex="4" data-sizey="3">
        <div class="panel panel-default">
            <div class="panel-heading">

              <div class="dropdown  pull-right">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-li"><a href="#">Something</a></li>
                  <li class="dropdown-li"><a href="#">Something else</a></li>
                </ul>
              </div>

              <h3 class="panel-title">Employee Locations</h3>

            </div>
            <div class="panel-body">
            </div>
        </div>
      </li>
    </ul>
  </div> -->

</div>
