<div class="container-fluid">

  <div ng-controller="DashboardController">
    <div class="panel panel-default">
      <a href class="text-center center-block" ng-click="something something">
        <span class="glyphicon glyphicon-plus"></span>
        <div>add widget</div>
      </a>
    </div>
  </div>

</div>
