<div class="widget-index-container col-sm-6 col-lg-4">
  <div ng-repeat="widget in allWidgets">
    <div class="widget-display-container" ng-show="!widget.display">
      <div class="widget-image col-xs-4"></div>
      <div class="widget-text col-xs-8">
        <h4> {{ widget.name }} </h4>
        <h5> {{ widget.description }} </h5>
      </div>
    </div>
  </div>
</div>
