<div ng-repeat="widget in widgetsDisplayed" class="panel panel-default widget-display-panel col-sm-4">
  <div class="panel-heading">
    <div class="pull-right">
      <a href ng-click="widget.display = false"><span class="glyphicon glyphicon-cog"></span></a>
      <a href ng-click=""><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <h4> {{ widget.name }} </h4>
  </div>

  <div class="panel-body">
    <employee-locations-widget></employee-locations-widget>
  </div>
</div>
