<div class="widget-show-container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="pull-right">
        <a href ng-click="widget.display = false"><span class="glyphicon glyphicon-cog"></span></a>
        <!-- <div class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-li"><a href ng-click="widget.display = false"</a>Close</li>
            <li class="dropdown-li"><a href="#">Settings</a></li>
          </ul>
        </div> -->
      </div>
      <h4> {{ widget.name }} </h4>
    </div>

    <div class="panel-body">
      <div ng-controller="WidgetController">

        <!-- <div id='map-canvas'></div> -->

      </div>
    </div>

  </div>
</div>
