<div ng-repeat="widget in widgetsDisplayed" class="panel panel-default widget-display-panel col-sm-4 widget-dimensions" ng-hide="widget.display == false">
  <div class="panel-heading">
    <div class="pull-right">
      <a href ng-click=""><span class="glyphicon glyphicon-cog"></span></a>
      <a href ng-click="closeWidget(widget)"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <h4> {{ widget.name }} </h4>
  </div>


    <!-- <employee-locations-widget class="panel"></employee-locations-widget> -->
    <!-- <other-demo-widget class="panel"></other-demo-widget> -->

    <sales-flow-widget class="panel-body"></sales-flow-widget>


</div>
