$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";


body {
  background-color: #E7EDEE;
}

.gridster {
  .gridster-ul {
    list-style: none;
    padding: 0;
  }
  .panel {
    padding: 0;
    // margin: 0;
    border-radius: 5px;
  }
  .panel-heading {
    background-color: #FFF;
    cursor: move;
    h4 {
      margin: 0;
    }
  }
}

.dropdown-li{
  position: static !important;
}

.glyphicon-plus {
  font-size: 80px;
}

#map-canvas {
  height: 350px;
  width: 500px;
}
