body {
  background-color: #E7EDEE;
}

.gridster {
  .gridster-ul {
    list-style: none;
    padding: 0;
  }
  .panel {
    padding: 0;
  }
  .panel {
    border-radius: 5px;
  }
  .panel-heading {
    background-color: #FFF;
    cursor: move;
    .caret {
      border-width: 8px;
    }
  }
}

.dropdown-li{
  position: static !important;
}


#map-canvas {
  height: 350px;
  width: 500px;
}
