<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-toggle"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
          <strong> <%= current_user.organizations[0].name %> </strong> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <%= render partial: 'layouts/organization', collection: current_user.organizations %>
        </ul>
      </li>
    </ul>
  </div>
</div>
